<div style="margin: 100px">

  <mat-form-field>
    <label >Name</label>
    <input matInput [(ngModel)]="boxName">
  </mat-form-field>
  <br>

  <mat-form-field>
    <label >Price</label>
    <input matInput [(ngModel)]="price">
  </mat-form-field>
  <br>

  <mat-form-field>
    <label >Size</label>
    <input matInput [(ngModel)]="size">
  </mat-form-field>
  <br>

  <mat-form-field>
    <label >Description</label>
    <input matInput [(ngModel)]="description">
  </mat-form-field>
  <br>

  <button [disabled]="boxName == '' || price < 1 || size == '' || description == ''" mat-raised-button (click)="createBox()">Create Box!</button>



  <mat-card style="margin-top: 30px;" *ngFor="let b of boxes">
    <mat-card-title>Box id: {{b.id}}</mat-card-title>
    <mat-card-subtitle>Name: {{b.boxName}}</mat-card-subtitle>
    <mat-card-subtitle>Price: {{b.price}}</mat-card-subtitle>
    <mat-card-subtitle>Size: {{b.size}}</mat-card-subtitle>
    <mat-card-subtitle>Description: {{b.description}}</mat-card-subtitle>
    <mat-card-actions>
      <button mat-button (click)="deleteBox(b.id)">Delete</button>
    </mat-card-actions>
  </mat-card>


</div>
